.cards {
  display: flex;
  width: 920px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  z-index: 2;
}
