@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaufman__triangle {
  display: flex;
  position: absolute;
  overflow: hidden;
  background-size: contain;
  right: -200px;
  top: 0;
  z-index: 1;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  animation: rotation 20s infinite normal forwards;
}
