.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
  z-index: 2;
}
